<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.StuMapper">
    <select id="selStudents" resultType="Student">
        select * from student
    </select>

    <select id="selectById" parameterType="int" resultType="Student">
        select * from student where sid= #{id}
    </select>

    <insert id="addStu" parameterType="Student">
        insert into student (sid,sname) values (#{student.sid},#{student.name})
    </insert>

    <update id="updateStu" parameterType="Student">
        update student set sname=#{sname} where sid = #{sid}
    </update>

    <delete id="deleteStu" parameterType="int">
        delete from student where sid = #{sid}
    </delete>

</mapper>